<%- include('includes/head'); %>

<div class="container">
    <h1>
      <!-- pegando a chave e colocando dessa forma  -->
      <!-- <% if(typeof titulo !== 'undefined') { %>
      <%= titulo %>
      <% } else { %>
        O titulo nao foi enviado
        <% } %> -->

        <!-- fazendom um for  -->
      <!-- <% numeros.forEach( num => { %>
        <%= num %> <br>
        <% }); %> -->

        <%= titulo %>
        <%= umValorLocal %>
    </h1>
    <form action="/" method="POST">
      <label>Cliente</label>
      <input type="text" name="cliente">
      <button>Enviar</button>
    </form>
  </div>

  <%- include('includes/footer'); %>
